<div class="container mt-5">
    <div class="row g-3">
        <% @subjects.each do |subject| %>
            <% if controller_name == 'subjects' && subject.user_id == current_user.id %>
                <div class="col-xl-4 col-md-6">
                    <div class="service card-effect">                    
                        <%= render(partial: "shared/card", locals: {subject: subject}) %>
                    </div>
                </div>
            <% end %>

            <% if controller_name == 'publics' %>
                <div class="col-xl-4 col-md-6" >
                    <div class="service card-effect public-card">
                        <%= render(partial: "shared/card", locals: {subject: subject}) %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
