<h1>Subjects#new</h1>
<p>Find me in app/views/subjects/new.html.erb</p>

<i class="bi bi-house-door-fill"></i>
<i class="bi bi-house-door-fill"></i>
<i class="bi bi-house-door-fill"></i>

<i class="bi bi-windows">
</i><i class="bi bi-windows">
</i><i class="bi bi-windows"></i>