<div class="bg-container">
  <%= render("shared/header") %>
  <div class="bg-image"></div>

  <div class="container py-3 mb-4">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="p-2 text-white fs-1 text-center fw-bold page-title">新規投稿</div>
      </div>  
    </div>
  </div>
</div>

<%= render("shared/new_edit") %>