/* ヘッダー */
.main-header {
    background-color: rgba(215, 245, 255, 0.95);
    margin: 0 40px;
}

.header-logo {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
}

.dropdown-menu {
    box-shadow: 3px 3px 10px 7px rgba(0,0,0,0.3);
    border: 2px solid darkgray;
}

/* ヘッダー2 */
.header2 {
    height: auto;
    position: relative;
}

.header2 img {
    filter: brightness(40%);
    width: 100vw;
    height: 200px;
    object-fit: cover;
}

.header2-absolute {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.header2-title {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
}


/* タイトル */
.page-title {
    letter-spacing: 5px;
}

/* トップページ */
.carousel-inner {
    width: 100vw;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(40%)
}

.carousel-parent {
    position: relative;
}

.carousel-child {
    position: absolute;
    top: 200px;
    z-index: 1;
    width: 100%;
}

.carousel-content {
    margin-bottom: 5rem;
}

/* カード */
.card-effect {
    box-shadow: none;
    border-radius: 6px;
    height: 550px;
    padding: 7px;
    overflow: scroll;
    background-color: rgba(211, 223, 243, 0.9);
}

.card-effect:hover {
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.844);
    transition: all 0.4s ease;
    padding: 2px;
}

.subject-content {
    padding: 7px;
    height: 150px;
    overflow: scroll;
}

.subject-content:hover {
    font-size: 17px;
    background-color: rgba(211, 223, 243, 0.2);
    transition: all 0.5s ease;
    box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.3);
}

.public-card {
    height: 508px;
    padding: 7px;
}
/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.scroll_up.on {
    transform: translateY(0);
    opacity: 1.0;
}
  

/* form */
form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.04);
}


/* 新規登録ページ */
.sign-up-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F6EFD;
    font-size: 45px;
    background-color: white;
    border-radius: 100px;
}

/* 詳細ページ */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* フラッシュ */
.bg-orange {
    background-color: rgba(245, 212, 173, 0.7);
}

.bg-cream {
    background-color: rgb(255, 241, 163);
}

/* 生徒一覧ページ */
.table-wrapper {
    width: 80%;
    margin: 0 auto;
}

.links {
    text-align: right;
    padding: 5px;
}

.bg-dark-gray {
    background-color: darkgray;
}

.image-block {
    width: 500px;
    font-size: 14px;
}

.attention {
    width: 75%;
}

.sample_image {
    width: 100%;
    height: auto;
}

/* 投稿一覧ページ */

.guide {
    transform: translateY(30px);
    transform: translateX(-30px);
    font-weight: 700;
    color: white;
    background-color: rgba(100, 100, 100, 0.6);
    box-shadow: 3px 3px 10px 7px rgba(0,0,0,0.3);
    width: 240px;
}

.sort-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: auto;
}

.link-btn {
    color: black;
    background-color: rgb(215, 245, 255);
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    border: 1px solid white;
    transition: ease 0.8s;
    margin-right: 6px
}

.link-btn:hover {
    background-color: rgb(235, 250, 255);
    font-weight: bold;
    color: black;
}

.all-index {
    height: 100px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 125, 125);
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 50px;
    transition: ease 0.8s;
    text-decoration: none;
}

.all-index:hover {
    background-color: rgb(200, 200, 200);
    color: white;
}

.all-text {
    color: white;
    height: 30px;
    font-weight: 600;
}


.bg-container {
    height: auto;
    width: 100vw;
    position: relative;
    padding-top: 20px;
    z-index: 0;
  }
  
.bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}
  
.bg-image::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("carousel1.png");
    background-position: center;
    background-size: cover;
    filter: brightness(45%);
}


/* シンプルカレンダー */
.custom-cell {
    height: 300px
}

.table-head {
    background-color: beige;
}

.status-number {
    text-align: center;
}

.status-true {
    color: red;
    background-color: rgba(253, 173, 173, 0.3);
}

.date-days {
    border-bottom: 1px solid lightgray;
}


/* 出欠一覧ページ */
#sort_table th {
	cursor:pointer;
    transition: ease 0.8s;
}

#sort_table th:hover {
	background-color: rgb(176, 182, 143);
}

.kaminari-first {
    margin-right: 10%;
}

.kaminari-last {
    margin-left: 10%;
}