/* カード */

.card-effect {
    box-shadow: none;
    border-radius: 6px;
    height: 550px;
    padding: 7px;
    overflow: scroll;
    background-color: rgba(211, 223, 243, 0.9);
}

.card-effect:hover {
    box-shadow: 3px 3px 10px 7px rgba(0,0,0,0.3);
    transition: all 0.4s ease;
    padding: 2px;
}

.subject-content {
    padding: 7px;
    height: 150px;
    overflow: scroll;
}

.subject-content:hover {
    font-size: 17px;
    background-color: rgba(211, 223, 243, 0.2);
    transition: all 0.5s ease;
    box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.3);
}

.public-card {
    height: 508px;
    padding: 7px;
}

/* .iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    background-color: #1F6EFD;
    border-radius: 100px;
} */

/* contact section */
form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.04);
}


/* 新規登録ページ */
.sign-up-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F6EFD;
    font-size: 45px;
    background-color: white;
    border-radius: 100px;
}

/* トップページ */

.top-image {
    background-color: blue;
    width: 100%;
    height: 80vh;
}

/* 詳細ページ */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* フラッシュ */
.bg-orange {
    background-color: rgba(245, 212, 173, 0.7);
}

.bg-cream {
    background-color: rgb(255, 241, 163);
}